<section>
  <h1>Quiz Party !</h1>
  <div *ngFor="let item of quizContent" class="questionContainer">
    <h4 class="questionTitle">{{ item.id + ") " + item.question }}</h4>
    <ul>
      <li *ngFor="let i of item.props">
        <button (click)="checkAnswer(item, i)">
          {{ i }}
        </button>
        <button mat-raised-button color="primary">{{ i }}</button>
      </li>
    </ul>
  </div>
  <p>{{ textResult }}</p>
</section>
<section>
  <h2>Résultat : {{ finalResult }}/10</h2>
</section>
